extends ../layout/index
block contenido
    main.container.mt-5 
        .row    
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Nulla bibendum elementum nisl, sed consequat velit dignissim in. Vivamus eleifend aliquet vulputate. Aliquam tempor sem tristique consequat vestibulum. Cras ac scelerisque tellus. Sed faucibus massa in condimentum imperdiet. Curabitur pretium augue a rhoncus sodales. Nam at nisi diam.
                p Curabitur rutrum eu erat ac interdum. Cras tristique libero ac elit lobortis eleifend. Curabitur at lorem vitae nisi dictum hendrerit. Ut fermentum hendrerit velit, eu semper dolor vehicula gravida. Sed eu massa et nunc pellentesque facilisis.
                p Morbi feugiat augue mi, et posuere augue vehicula viverra. Donec erat orci, pharetra volutpat euismod at, ullamcorper ac velit. Aliquam venenatis urna eu iaculis commodo. Maecenas a hendrerit eros. 
    .listado-iconos  
        .container.mt-5.py-5.text-center    
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aenean pharetra ultricies ante, ut suscipit dolor fermentum at. Morbi pretium mattis sodales. Cras iaculis tortor ut massa egestas lacinia.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Aenean pharetra ultricies ante, ut suscipit dolor fermentum at. Morbi pretium mattis sodales. Cras iaculis tortor ut massa egestas lacinia.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Aenean pharetra ultricies ante, ut suscipit dolor fermentum at. Morbi pretium mattis sodales. Cras iaculis tortor ut massa egestas lacinia.